<%= @tab = "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" %>
<nav class="navbar navbar-fixed-top navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="divider"></li>
        <li class="active"><a href="basic-information">Basic Information</a></li>
        <li class=""><a href="who-was-involved">Who was involved?</a></li>
        <li class=""><a href="why-is-this-important">Why is this important?</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="how-is-this-similar-to-other-revolutions">How is this similar to other revolutions?</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-inverse " data-toggle="dropdown" role="button" aria-expanded="false">Sources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://adst.org/2014/07/the-iraqi-revolution-of-1958/">Source 1</a></li>
            <li><a href="http://spartacus-educational.com/IRQrevolution.htm">Source 2</a></li>
            <li><a href="http://www.historytoday.com/antony-hornyold/iraqs-revolution-bastille-day-baghdad">Source 3</a></li>
            <li><a href="http://www.globalsecurity.org/military/world/war/iraq-coup.htm">Source 4</a></li>
            <li class="divider"></li>
            <li><a href="works-cited">Works Cited</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h1 class="text-center">Introduction to the Revolution</h1>
<h3 class="text-center">Causes</h3>
<h5 class="text-left"><%= @tab %>There were many causes behind the Iraqi Revolution, some of them are:</h5>
<h4 class="text-left">Regional Issues</h4>
<li class="text-left"><h5 class="text-left">The British had been occupying Iraq for some time and then Arab nationalists forced them out.</h5></li>
<li class="text-left"><h5 class="text-left">Iraq was a center for a revolution causing damage to their infrastructure.</h5></li>
<h4 class="text-left">Economic Issues</h4>
<li class="text-left"><h5 class="text-left">Iraq's economy went into a recession and then a depression because of World War II.</h5></li>
<li class="text-left"><h5 class="text-left">The two leaders in charge, Al-Said and Abd al-llah were in constant disagreement and could never agree on how to fix the economy.</h5></li>
<li class="text-left"><h5 class="text-left">The conditions continued to worsen for the civilians while the leaders at by.</h5></li>
<h4 class="text-left">Political Issues</h4>
<li class="text-left"><h5 class="text-left">Iraq was reoccupied by the British during World War II, and even when they withdrew from Iraq their presence stayed supplying Iraq with weapons and training.</h5></li>
<li class="text-left"><h5 class="text-left">They continued to be manipulated by outside nations for many years.</h5></li>
<h3 class="text-center">Beginning of Revolution</h3>
<h4 class="text-center">Goals</h4>
<h5 class="text-left"><%= @tab %>The main goal of the revolution was to force outside nations to withdraw completely from Iraq. They wanted to be a free independent nation with their own government that was unassociated from any other nation. </h5>
<h4 class="text-center">Conflict Building</h4>
<h5 class="text-left"><%= @tab %>Many Arab nations saw the tension starting to build inside the borders of Iraq and wanted to help. Egypt and Syria decided to help out the revolution by joining under the title of the United Arab Republic (UAR).</h5>
<h4 class="text-center">The Revolution</h4>
<h5 class="text-left"><%= @tab %>On the 14 of July, 1958 a group lead by Abd al-Karim Qasim overthrew the monarchy. They killed the Prince and the King and then took over the government. The group was made up of many different political parties from all over Iraq, they all came together to see this through. They started the overthrow by commandeering a radio station and broadcasting messages about the revolution. It was a quick overthrow but the effects lastedfor a very long time.</h5>
<h3 class="text-center">After the Overthrow</h3>
<h4 class="text-center">Relations with Other Nations</h4>
<h5 class="text-left"><%= @tab %>The US was shocked by this sudden move in Iraq. The CIA Director at the time believed that this revolution would cause other nations in the middle east to consider throwing similar revolutions.  However, they did nothing to stop this revolution.</h5>

